<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>629A9523-5BB0-45DE-B1B0-8C1F97304E8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76157567-1F60-4B4C-AFCE-F8A86842C2E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66466218-FA94-432F-9C44-6B60DA77FAFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A61DB917-2180-40CA-A5A6-38AFDD27A908</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76157567-1F60-4B4C-AFCE-F8A86842C2E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF6A61B3-266A-44D4-8E20-531097E5EF0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1BD2A9F-2B3F-44EF-AC18-BFB2AA517DE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66466218-FA94-432F-9C44-6B60DA77FAFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6FD7709-A1E7-48C8-BC5E-5A25A87AFFF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72AFDA1E-8557-4C69-88FF-07007009EDF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B992387D-148E-4285-9454-4A724701E3BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>629A9523-5BB0-45DE-B1B0-8C1F97304E8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4D13AD2-C962-40F5-A8D7-217739DF565C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAE2CCE3-3C58-4F99-A01F-4D4BDF99CCC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7A77996-C8D8-4DC2-B2AA-367A6BB5D962</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>317B37C9-C0C0-489E-8BE3-79A7D50CA019</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF6A61B3-266A-44D4-8E20-531097E5EF0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7A77996-C8D8-4DC2-B2AA-367A6BB5D962</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jackchuka</string>
	<key>description</key>
	<string>Search &amp; Copy local bookmarks</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Filemark</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EAE2CCE3-3C58-4F99-A01F-4D4BDF99CCC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>b</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PATH=/usr/local/bin:$PATH


cat $DIR_PATH/$FILENAME | grep . | jq -nR '{items: [inputs | split(" | ") | {title:.[1:]|join(""),autocomplete:.[1:]|join(""),arg:.[0],subtitle:.[0]} | select(length&gt;0)]}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search &amp; Copy local bookmarks</string>
				<key>title</key>
				<string>filemark...</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D4D13AD2-C962-40F5-A8D7-217739DF565C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>b add</string>
				<key>subtext</key>
				<string>add a bookmark</string>
				<key>text</key>
				<string>b add {url}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B992387D-148E-4285-9454-4A724701E3BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<false/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:DIR_PATH}/{var:FILENAME}</string>
				<key>filetext</key>
				<string>{var:url} | {var:name}</string>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>F7A77996-C8D8-4DC2-B2AA-367A6BB5D962</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>enter a name for the url</string>
				<key>text</key>
				<string>name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>76157567-1F60-4B4C-AFCE-F8A86842C2E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:url}</string>
				<key>title</key>
				<string>Bookmark added</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>317B37C9-C0C0-489E-8BE3-79A7D50CA019</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>url</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>629A9523-5BB0-45DE-B1B0-8C1F97304E8F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FF6A61B3-266A-44D4-8E20-531097E5EF0B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>b edit</string>
				<key>subtext</key>
				<string>open bookmark file</string>
				<key>text</key>
				<string>b edit</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B6FD7709-A1E7-48C8-BC5E-5A25A87AFFF6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{var:DIR_PATH}/{var:FILENAME}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>72AFDA1E-8557-4C69-88FF-07007009EDF8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>b backup</string>
				<key>subtext</key>
				<string>create backup bookmark file (overwrite previous)</string>
				<key>text</key>
				<string>b backup</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B1BD2A9F-2B3F-44EF-AC18-BFB2AA517DE2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:DIR_PATH}/backup_{var:FILENAME}</string>
				<key>title</key>
				<string>Backup complete</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A61DB917-2180-40CA-A5A6-38AFDD27A908</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>orig=$DIR_PATH/$FILENAME
backup=$DIR_PATH/backup_$FILENAME

cp $orig $backup</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>66466218-FA94-432F-9C44-6B60DA77FAFD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>317B37C9-C0C0-489E-8BE3-79A7D50CA019</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>629A9523-5BB0-45DE-B1B0-8C1F97304E8F</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>66466218-FA94-432F-9C44-6B60DA77FAFD</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>72AFDA1E-8557-4C69-88FF-07007009EDF8</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>76157567-1F60-4B4C-AFCE-F8A86842C2E5</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>A61DB917-2180-40CA-A5A6-38AFDD27A908</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>B1BD2A9F-2B3F-44EF-AC18-BFB2AA517DE2</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>B6FD7709-A1E7-48C8-BC5E-5A25A87AFFF6</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>B992387D-148E-4285-9454-4A724701E3BE</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>D4D13AD2-C962-40F5-A8D7-217739DF565C</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>EAE2CCE3-3C58-4F99-A01F-4D4BDF99CCC8</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>F7A77996-C8D8-4DC2-B2AA-367A6BB5D962</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>FF6A61B3-266A-44D4-8E20-531097E5EF0B</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>DIR_PATH</key>
		<string>/Users/jackchuka/Dropbox</string>
		<key>FILENAME</key>
		<string>filemark.txt</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>DIR_PATH</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
